################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RiotPls.Tools/obj/Debug
/RiotPls.Tools/bin/Debug
/RiotPls.Test/obj
/RiotPls/obj
/Riot.API/obj
/Compiled
/.vs/RiotPls/v14
/RiotPls.Tools/bin/Release
/RiotPls.Tools/obj/Release
/RiotPls.sln.DotSettings.user
/.vs/config
/riot.txt